* {
    margin: 0px;
}

body {
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
}

.header, .section-one, .footer{
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 200px;
}

ul {
    display:flex;
    list-style-type: none;
    gap: 20px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}


.section-one {
    padding: 100px 200px;
    display: flex;
    gap: 80px;
}

.left-section-one{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    display: flex;
    
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.blue-background {
    background-color: #3882F6;
    color: #F9FAF8;
}

.sign-up-button {
    padding: 10px;
    width: 150px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 12px;
}

.image-placeholder{
    background-color: darkgray;
    width: 500px;
    height: 250px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.section-two {
    display: flex;
    flex-direction: column;
    padding: 50px 200px 100px 200px;
    gap: 30px;
}

.info-header {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    display:flex;
    justify-content: center;
    padding: 20px;
}

.all-cards {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rounded-square {
    width: 180px;
    height: 180px;
    border-style: solid;
    border-radius: 18px;
    border-color: #3882F6;
    border-width: 4px;
    
}

.subtext {
    font-size: 18px;
    text-align: center;
    width: 180px;
}

.section-three {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 100px 200px;
}

.quote-text {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}

.thor {
    align-self: flex-end;
    font-weight: bold;
    font-size: 24px;
}

.section-four {
    margin: 100px 200px;
    border-radius: 10px;
    display: flex;
}

.call-to-action h4{
    font-size: 24px;
    font-weight: bold;
}

.call-to-action p {
    font-size: 18px;
}

.section-four button {
    background-color: #3882F6;
    color: white;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    border-width: 2px;
    font-size: 18px;
    font-weight: bold;

}