* {
    margin: 0px;
}

body {
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
}

.header, .section-one, .footer{
    background-color: #1F2937;
}

ul {
    display:flex;
    list-style-type: none;
}

.header {
    display: flex;
    justify-content: space-between;
}


.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.hero {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.blue-background {
    background-color: #3882F6;
    color: #F9FAF8;
}

.info-header {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

.section-three {
    background-color: #E5E7EB;
}

.quote-text {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}
