* {
    margin: 0px;
}

body {
    font-family: 'Roboto';
}

.header, .section-one, .footer{
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.hero {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.blue-background {
    background-color: #3882F6;
    color: #F9FAF8;
}

.info-header {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

